html, body {
    min-width: 970px;
}
.navbar a.register {
    background-color: #122b58;
    color: white;
}

.register {
    display: block;
}


.body_title {
    text-align: center;
}
/* register container style start */

.registerTitle {
    text-align: center;
}
.registerTitle, .inputEmailDescription, .inputPasswordDescription, .inputFirstNameDescription, .inputSocialTitleDescription  {
    color: white;
}
.firstRow, .secondRow, .thirdRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.emailContainer, .passwordContainer, .firstNameContainer, .socialTitleContainer, .lastNameContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 50%;
    margin-left: 50px;
    margin-right: 30px;
}

.inputEmailDescription, .inputPasswordDescription, .inputFirstNameDescription {
    width: auto;
}
.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #273753;
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
    border-radius: 5px;
}
.socialTitleContainer {
    display: flex;
    flex-direction: column;
}
.socialTitleRadioButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#socialTitle {
    display: inline;
}
.socialTitleDescription {
    display: inline;
    color: white;
}
.email, .password, .firstName, .lastName {
    width: 300px;
    height: 25px;
}
.registerButton {
    width: 60%;
    margin: 20px auto 30px;
    border: hidden;
    border-radius: 5px;
    background-color: #0a8754ff;
    height: 35px;
    font-size: 18px;
    color: white;
}
.registerButton:hover {
    background-color: #02663e;
    cursor: pointer;
}

/* register container style end */

