@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Smooch+Sans:wght@400;800;900&display=swap');

html, body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 !important;
    min-width: 860px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width: 1500px;
}


.navbar {
    background-color:  #148CAC; /*Navigation bar color*/
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.index, .converter {
    float: left; /*right of the container*/
    color: #181243; /*Text Color*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;

}
.login {
  float: right; /*right of the container*/
  color: #181243; /*Text Color*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}


.navbar a:hover {
    background-color: #04323F;
    color: white;
}

/*Style for the sidebar*/

/* width */
::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 5px 5px 5px grey;
    border-radius: 0px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #343a40;
    border-radius: 20px 2px 20px 2px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }