{% extends 'main.html' %}
{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static "authentication/register.css"%}">
{% endblock css_link %}
{% block page_title %}Register{% endblock page_title %}
{% block body %}
<h1 class="body_title">
  Hier kannst du dein einen Benuzterkonto erstellen lassen.
</h1>
<form class="registerForm">
  <div class="registerContainer">
      <h1 class="registerTitle">Register</h1>
      <div class="firstRow">
        <div class="emailContainer">
          <p class="inputEmailDescription"><i class="fa fa-envelope-open"></i> E-Mail:</p>
          <input
            class="email"
            type="text"
            name="email"
            placeholder="Enter your E-mail here"
          />
        </div>
        <div class="passwordContainer">
          <p class="inputPasswordDescription"><i class="fa fa-key"></i> Password:</p>
          <input
            class="password"
            type="password"
            name="password"
            placeholder="Enter your password here"
            />
          </div>
      </div>
      <div class="secondRow">
        <div class="passwordContainer">
          <p class="inputPasswordDescription"><i class="fa fa-key"></i> Password wiederholen:</p>
          <input
            class="password"
            type="password"
            name="passwordRepeat"
            placeholder="Enter your password here"
          />
      </div>
      <div class="thirdRow">

      </div>

      </div>
      <button class="registerButton" type="submit">Register</button>
  </div>
</form>
{% endblock body %}