.title, .pageDescription {
    text-align: center;
}

.navbar a.index {
    background-color: #122b58;
    color: white;
}

.visitscounterContainer {
    min-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    justify-content: space-between;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: solid 4px #01102b;
    background-color: #273753;
}

#userIcon {
    margin-top: 30px;
    color: #148CAC;
    text-align: center;
    font-size: 36px;
}
.counterText, .useripText, .sessionText {
    white-space: nowrap;
    text-align: center;
    margin-left: 15px;
    font-size: 24px;
    color: white;
}
.ip_addressValue, .number_of_visitsValue, .sessionValue {
    text-align: center;
    white-space: normal;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
    color: #148CAC;
}
.sessionContainer, .visitsContainer, .ipaddressContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}