.title, .pageDescription {
    text-align: center;
}

.navbar a.index {
    background-color: #122b58;
    color: white;
}

.visitscounterContainer {
    margin: 0 auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border: solid 4px #14591dff;
    background-color: #0a8754ff;
}

#userIcon {
    color: white;
    text-align: center;
    font-size: 36px;
}
.counterText, .useripText, .sessionText {
    text-align: center;
    font-size: 24px;
    color: white;
}
.ip_addressValue, .number_of_visitsValue, .sessionValue {
    text-align: center;
    font-size: 24px;
    color: #122b58;
    margin-left: 20px;
}
.sessionContainer, .visitsContainer, .ipaddressContainer {
    display: flex;
    flex-direction: row;
}