{% extends 'main.html' %}
{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static "converter/index.css"%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css_link %}
{% block page_title %}CSV Converter{% endblock page_title %}
{% block body %}
    <h1 class="title">Hallo zum CSV-Konverter.</h1>
    <p class="pageDescription">Wir heißen Sie herlich willkommen und freuen uns das Sie unsere Seite besuchen.</p>
    <div class="visitscounterContainer">
        <i id="userIcon" class="fa fa-users"></i>
            <div class="sessionContainer">
                <p class="sessionText">Session key:</p>
                <p class="sessionValue">{{ session_key }}</p>
            </div>
            <div class="visitsContainer">
                <p class="counterText">Number of visits:</p>
                <p class="number_of_visitsValue">{{ number_of_visits }}</p>
            </div>
            <div class="ipaddressContainer">
                <p class="useripText">IP-Address:</p>
                <p class="ip_addressValue">{{ ip_address }}</p>
        </div>
    </div>
{% endblock body %}